.title h5 {
  margin-left: 112px;
}
.status__option {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.status__button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .title h5 {
    margin-left: 0;
  }
  .status__option {
    margin-left: 90px;
  }
}
