AUTH_API_URL=http:// <domain-name >:6801/api/v1
COMPANY_API_URL=http:// <domain-name >:6804/api/v1
API_URL=http:// <domain-name >:6802/api/v1
UPLOAD_API_URL=http:// <domain-name >:6807/api/v1
TIME_SHEET_API_URL=http:// <domain-name >:6807/api/v1
