.verifylayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 568px;
  width: 1024px;
  background-color: #ffffff;
}
.verifylayout__logo {
  width: 187px;
  height: 48px;
}
.verifylayout__title {
  margin-top: 24px;
}
.verifylayout__description {
  white-space: break-spaces;
  font-size: 1.4rem;
  line-height: 22px;
  text-align: center;
}

.verifylayout__description-res {
  display: none;
}

@media screen and (max-width: 600px) {
  .verifylayout {
    height: 100%;
    width: 342px;

    padding: 24px 12px;
  }
  .verifylayout__description {
    display: none;
  }

  .verifylayout__description-res {
    display: flex;
    white-space: break-spaces;
    font-size: 1.4rem;
    line-height: 22px;
    text-align: center;
  }
}
