.notification__container {
  font-size: 1.6rem;
  line-height: 2.4rem;
  max-width: 714px;
}
.notification__success {
  background-color: #0bb78314;
  color: #0bb783;
}
.notification__error {
  background-color: #ea161814;
  color: #f64e60;
}

.notification__content {
  display: flex;
  align-items: flex-start;
}

.notification__content p {
  margin-left: 16px;
}

.notification__content img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 600px) {
  .notification__container {
    max-width: 338px;
    background: #ffffff;
    border-radius: 8px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .notification__content {
    padding: 16px 16px 16px 18px;
  }
  .notification__content__success {
    background-color: #0bb78314;
  }
  .notification__content__error {
    background-color: #ea161814;
  }
}
