@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

.editor .quill {
  display: flex;
  flex-direction: column-reverse;
}

.editor .ql-container {
  font-size: 14px;
  color: var(--mui-palette-text-primary);
}

.editor .ql-snow .ql-stroke {
  stroke: var(--mui-palette-grey-300);
}

.editor .ql-snow .ql-fill,
.editor .ql-snow .ql-stroke.ql-fill {
  fill: var(--mui-palette-grey-300);
}

.editor .quill * {
  font-family: 'Helvetica Neue', sans-serif;
}

.editor .ql-toolbar.ql-snow {
  border-bottom: 1px solid #ececf3;
  border-left: 1px solid var(--mui-palette-grey-A200);
  border-right: 1px solid var(--mui-palette-grey-A200);
  border-top: none;
}

.editor .nocss .ql-toolbar.ql-snow {
  border: none !important;
}

.editor .nocss .ql-container.ql-snow {
  border: none !important;
}

.editor .nocss .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: none !important;
  padding-bottom: 20px;
}

.editor .nocss .ql-editor {
  padding: 0 !important;
}

.editor .nocss .ql-toolbar.ql-snow {
  padding: 0 !important;
}

.editor .ql-container.ql-snow {
  min-height: 50px;
  max-height: 200px;
  overflow: auto;
  border: 1px solid #babcc6;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.editor .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 1px solid #babcc6;
}

.editor .ql-editor.ql-blank::before {
  color: var(--mui-palette-text-secondary);
}

.ql-snow .ql-editor blockquote {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 14px;
  line-height: 1.57;
  color: var(--mui-palette-grey-400);
}

.ql-snow .ql-editor pre.ql-syntax {
  background-color: var(--mui-palette-grey-100);
  color: var(--mui-palette-text-primary);
}

.forward-icon {
  display: none !important;
}

.message-layout:hover .forward-icon {
  display: flex !important;
}

.mouse-pointer {
  cursor: pointer;
}

.MuiAutocomplete-noOptions {
  color: var(--mui-palette-grey-400) !important;
}
