.input {
  position: relative;
  display: flex;
  width: 340px;
  height: 58px;
  background: #f7f7fd;
  border-radius: 4px;
}

.input input {
  width: 100%;
  height: 100%;
  padding: 8px 20px;
  padding-top: 26px;
  font-size: 1.6rem;
  line-height: 24px;
  background: inherit;
  border-radius: inherit;
}

.input__required {
  color: #f64e60;
}

input.error {
  background: #feeded;
  border: 1px solid rgba(246, 78, 96, 0.3);
}

.input label {
  position: absolute;
  margin-top: 8px;
  margin-left: 20px;
  color: #999999;
  font-size: 1.2rem;
  line-height: 18px;
}

.input input.input--center {
  text-align: center;
}

.input label.label--center {
  position: absolute;
  margin-top: 8px;
  margin-left: 0px;
  width: 100%;
  color: #999999;
  font-size: 1.2rem;
  line-height: 18px;
  display: flex;
  justify-content: center;
}

.input input:focus {
  outline: none;
}

.toggle_button {
  position: absolute;
  right: 0;
  margin: 17px 20px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.toggle_button.toggle_on {
  background-image: url("/images/toggle_hidden_button.png");
}

.toggle_button.toggle_off {
  background-image: url("/images/toggle_hidden_button_off.png");
}

@media screen and (max-width: 600px) {
  .input {
    width: 318px;
    height: 58px;
    background: #ffffff;
    border-radius: 4px;
  }
}
