.select {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  background-color: #f7f7fd;
  line-height: 24px;
  border: none;
}

.input__label {
  z-index: 1;
}

.select_input {
  padding: 8px 20px;
  padding-top: 26px;
}

.select input:focus {
  outline: none;
  border: 1px solid rgba(54, 153, 255, 0.5);
}
