.datepicker {
  background-color: #f7f7fd;
}

.datepicker input {
  font-size: 1.4rem;
}

.icon {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 15px;
  margin-right: 20px;
}

input.input {
  padding-right: 60px;
}
