.manage__logo {
  width: 156px;
  height: 67px;
}

.manage__logo-mini {
  width: 31px;
  height: 31px;
  cursor: pointer;
}

.manage__sidebar_icon {
  width: 24px;
  height: 24px;
}

.manage__container {
  background: #ffffff;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.manage__sidebar__item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.manage__appbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.manage__appbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.appbar-sm {
  display: none;
}

.close-icon-res {
  display: none;
}

.profile-res {
  display: none;
}

@media screen and (max-width: 600px) {
  .appbar {
    display: none;
  }

  .manage__container {
    max-width: 100vw;
    overflow: auto;
  }

  .appbar-sm {
    display: flex;
    height: 46px;
    width: 100vw;
    background: #ffffff;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
  }

  .appbar-sm img {
    width: 156px;
    height: 46px;
  }

  .close-img-res {
    display: none;
  }

  .close-icon-res {
    display: flex;
    width: 24px;
    height: 24px;
  }

  .profile-res {
    display: flex;
  }
}
