.html pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
}

.html blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.html {
  font-size: 14px;
}

.html blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

.html pre {
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
}

.html pre.ql-syntax {
  background-color: var(--mui-palette-grey-50);
  color: var(--mui-palette-text-primary);
}
