body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #f7f7fd;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s !important;
  box-shadow: none !important;
}

a {
  text-decoration: none;
}

.row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}
