body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #f7f7fd !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s !important;
  box-shadow: none !important;
}

a {
  text-decoration: none;
}

.row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-center-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-1 {
  display: flex;
  flex: 1;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.rounded {
  border-radius: 50%;
  overflow: hidden;
}

.only-mobile {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .only-mobile {
    display: initial !important;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

@media screen and (min-width: 768px) {

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #b5b5c3;
    border-radius: 2px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(134, 138, 166, 0.9);
    border-radius: 2px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(134, 138, 166, 0.9);
    cursor: pointer;
  }
}


.draggable-taskList {
  display: flex;
  flex-direction: column;
}


.draggable {
  display: flex;
}

.draggable-category {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
