.register__upload {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.register__upload__label {
  font-size: 1.2rem;
  line-height: 18px;
  color: #999999;
}

.register__upload__uploadavatar {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uploadavatar__img {
  border-radius: 32px;
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: center;
}

.uploadavatar__button {
  margin-left: 16px;
}
